<!-- The content below is only a placeholder and can be replaced. -->
<div class="container">
  <h1>TODOS</h1>
  <div class="card">
    <div class="card-header">
      Enter your todo
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <input class="form-control" [(ngModel)]="newTodo" type="text" />
        </div>
        <div class="col-sm">
          <button class="btn btn-success" (click)="add()" type="buttom">
            +
          </button>
          <button class="btn btn-danger" (click)="remove()" type="buttom">
            -
          </button>
        </div>
      </div>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeAlert()"
      ></button>
      <div>
        <ul class="list-group">
          <li
            *ngFor="let todo of todos"
            class="list-group-item list-group-item-success"
          >
            {{todo}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
